/new_waveglow/
/text_old/
/.idea/.gitignore
/.idea/Cross-Lingual-Voice-Cloning.iml
/.idea/misc.xml
/.idea/modules.xml
/process_shit.py
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
